---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const { site } = Astro;
const url = new URL(Astro.request.url);
const fullUrl = `${site}${url.pathname}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Art Gallery - Javi's draws" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <meta property="og:title" content="Javier Martinez" />
    <meta property="og:description" content="Art Gallery - Javi's draws" />
    <meta name="theme-color" content="var(--coffee)" />
    <meta property="og:url" content={fullUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={`${site}/preview.jpg`} />
    <meta property="og:site_name" content="JV's Art Gallery" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[var(--skin)]">
    <slot />
  </body>
</html>
